In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import pyodbc
import sqlalchemy

In [2]:
os.chdir('C://Users//hp/Desktop\\ProFinch')
df=pd.DataFrame()
df=pd.read_excel('CustomerInfo5.xlsx')

In [57]:
df=df.drop(['Unnamed: 0'],axis=1)

In [5]:
df.head()

,first_name,last_name,gender,age,country,state,postal code,social security number,company,job title,...,money_withdrawn_amount,money_withdrawn_reason,money_withdrawn_location,Suspicious Activity,No.of Transactions,money_withdrawn_date,money_withdrawn_date_only,amount_transferred,sender_id,receiver_id
0,Barrett,Dybell,Male,73,United States,Colorado,80935,655-91-9407,Fiveclub,Actuary,...,6823.85,Electronics,California,False,1,2017-02-15 07:41:11,02/15/17,10006.60,1,1001
1,Correy,Antunez,Male,65,United States,Texas,76115,591-95-0381,Youfeed,Marketing Manager,...,28609.13,Movies,New York,False,3,2017-09-25 11:49:52,09/25/17,3353.97,2,1002
2,Robbi,Amsden,Female,24,United States,Florida,34611,539-05-0912,Trilith,Operator,...,11985.45,Sports,Kansas,False,3,2018-05-03 07:49:19,05/03/18,22979.20,3,1003
3,Welby,Zanazzi,Male,61,United States,Texas,75353,151-75-0158,Avamba,Developer III,...,1686.59,Tools,Kansas,False,8,2019-06-07 03:04:05,06/07/19,5743.14,4,1004
4,Bailie,Keppel,Male,52,United States,New Mexico,88006,667-83-6790,Zoombox,Quality Control Specialist,...,26964.59,Industrial,Texas,True,2,2019-09-28 22:04:18,09/28/19,687.49,5,1005


# Updating into DB and inserting new rows to invalidate rule3

In [113]:
import urllib
import sqlalchemy
conn_str = (
    r'Driver={SQL Server};'
    r'Server=DESKTOP-V8F09K2\KRISHNASQL;'
    r'Database=kk;'
    r'UID=sa;'
    r'PWD=pokemon;'
)
quoted_conn_str = urllib.parse.quote_plus(conn_str)
engine = sqlalchemy.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted_conn_str))
cnxn = engine.connect()

In [114]:
rows = cnxn.execute("SELECT name FROM sys.tables").fetchall()
print(rows)

[('output',), ('output2',), ('fraud_names',), ('output3',)]

In [115]:
df2.to_sql('output3', con=engine,if_exists='replace')

In [55]:
string1="insert into output3 values(0,'tony','stark','Male',24,'United States','Colorado', 80935.0, '785-91-9407', 'Fiveclub', 'Actuary', 90000.0, 3558725889734886.0, 'jcb', 5000.0, 'Electronics', 'California', 'False',1.0,'20180618 10:34:09','06/18/20',3000,2012,2013)"
string2="insert into output3 values(0,'steve','rogers','Male',24,'United States','Colorado', 80935.0, '785-91-9407', 'Fiveclub', 'Actuary', 90000.0, 3558725889734886.0, 'jcb', 5000.0, 'Electronics', 'California', 'False',1.0,'20180619 10:34:09','06/18/20',3000,2014,2015)"
string3="insert into output3 values(0,'natasha','romanoff','Male',24,'United States','Colorado', 80935.0, '785-91-9407', 'Fiveclub', 'Actuary', 90000.0, 3558725889734886.0, 'jcb', 5000.0, 'Electronics', 'California', 'False',1.0,'20180620 10:34:09','06/18/20',3000,2013,2016)"
string4="insert into output3 values(0,'thor','odinson','Male',24,'United States','Colorado', 80935.0, '785-91-9407', 'Fiveclub', 'Actuary', 90000.0, 3558725889734886.0, 'jcb', 5000.0, 'Electronics', 'California', 'False',1.0,'20180621 10:34:09','06/18/20',3000,2016,2017)"
string5="insert into output3 values(0,'bruce','banner','Male',24,'United States','Colorado', 80935.0, '785-91-9407', 'Fiveclub', 'Actuary', 90000.0, 3558725889734886.0, 'jcb', 5000.0, 'Electronics', 'California', 'False',1.0,'20180622 10:34:09','06/18/20',3000,2015,2018)"

In [67]:
#CALL THIS FOR EACH STRING 1 TO 5
conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=DESKTOP-V8F09K2\KRISHNASQL; Database=kk; UID=sa; PWD=pokemon;')
query=string5
cursor = conx.cursor();
cursor.execute(query);
conx.commit();

# End of section

# Testing

In [7]:
conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=DESKTOP-V8F09K2\KRISHNASQL; Database=kk; UID=sa; PWD=pokemon;')
query="select * from output3"
query="SELECT [first_name],[last_name],[social security number] FROM [kk].[dbo].[output3] WHERE [Total amount transferred]>=([salary])"
cursor = conx.cursor();
cursor.execute(query);
data = cursor.fetchall()
q = pd.read_sql_query(query,conx)
df2 = pd.DataFrame(q, columns=df.columns)
conx.close()

In [6]:
data[:1]

[(1004, 'bruce', 'banner', 'Male', 24, 'United States', 'Colorado', 80935, '785-91-9407', 'Fiveclub', 'Actuary', 90000, 3558725889734886, 'jcb', 5000.0, 'Electronics', 'California', False, 1, datetime.datetime(2018, 6, 22, 10, 34, 9), '06/18/20', 3000.0, 2015, 2018, '6000')]

In [8]:
len(data)

0

# End of section

# Running function to find total amount transferred

In [70]:
df2["Total amount transferred"]=""

In [83]:
class Node:
    def __init__(self,sender_id,receiver_id,amount_transferred):
        self.sender = sender_id
        self.receiver = receiver_id
        self.next = None
        self.amount_transferred = amount_transferred
        self.visited = False
    def traverse(self, chain=None, total=0):
        if (self.visited): # undo visited nodes
            return
        self.visited = True
        if chain is None: # this is the beginning of the traversal
            chain = [self.sender]
        chain += [self.receiver]
        total += self.amount_transferred
        if self.next is not None:
            return self.next.traverse(chain, total)
        return chain, total

In [85]:
transc = [Node( 
        row["sender_id"],
        row["receiver_id"],
        row["amount_transferred"]
    ) for i, row in df2.iterrows()]

In [86]:
for i, v in enumerate(transc):
    for j, k in enumerate(transc):
        # if the receiver v same as the sender from j
        if v.receiver == k.sender:
            v.next = k


summary = [i.traverse() for i in transc]
summary = [i for i in summary if i is not None] # removing None

print(summary)

[([1, 1001], 10006.6), ([2, 1002], 3353.97), ([3, 1003], 22979.2), ([4, 1004], 5743.14), ([5, 1005], 687.49), ([6, 1006], 18179.75), ([7, 1007], 24570.75), ([8, 1008], 15887.24), ([9, 1009], 24528.69), ([10, 1010], 5939.14), ([11, 1011], 7288.28), ([12, 1012], 16937.38), ([13, 1013], 6936.5), ([14, 1014], 13509.78), ([15, 1015], 9973.11), ([16, 1016], 22715.01), ([17, 1017], 16259.68), ([18, 1018], 1678.64), ([19, 1019], 10605.1), ([20, 1020], 18477.26), ([21, 1021], 10310.92), ([22, 1022], 5026.72), ([23, 1023], 13112.5), ([24, 1024], 4813.72), ([25, 1025], 18423.43), ([26, 1026], 18306.11), ([27, 1027], 7377.77), ([28, 1028], 16841.73), ([29, 1029], 248.24), ([30, 1030], 11396.52), ([31, 1031], 8599.44), ([32, 1032], 20470.27), ([33, 1033], 14469.56), ([34, 1034], 9447.82), ([35, 1035], 4930.45), ([36, 1036], 15354.87), ([37, 1037], 1632.64), ([38, 1038], 17275.86), ([39, 1039], 19208.74), ([40, 1040], 13587.91), ([41, 1041], 6373.24), ([42, 1042], 12051.76), ([43, 1043], 10718.11), ([44, 1044], 19047.0), ([45, 1045], 6888.8), ([46, 1046], 23351.9), ([47, 1047], 1355.53), ([48, 1048], 9302.71), ([49, 1049], 8321.23), ([50, 1050], 13893.71), ([51, 1051], 23020.61), ([52, 1052], 20679.95), ([53, 1053], 19143.05), ([54, 1054], 20882.28), ([55, 1055], 24293.64), ([56, 1056], 2295.08), ([57, 1057], 20136.42), ([58, 1058], 16119.91), ([59, 1059], 13682.87), ([60, 1060], 4644.07), ([61, 1061], 16270.12), ([62, 1062], 21783.8), ([63, 1063], 16451.02), ([64, 1064], 19046.74), ([65, 1065], 18430.02), ([66, 1066], 5048.52), ([67, 1067], 5910.98), ([68, 1068], 13988.59), ([69, 1069], 21057.53), ([70, 1070], 14251.21), ([71, 1071], 11135.71), ([72, 1072], 22047.48), ([73, 1073], 9893.2), ([74, 1074], 3943.93), ([75, 1075], 4569.22), ([76, 1076], 21649.82), ([77, 1077], 10872.69), ([78, 1078], 17262.54), ([79, 1079], 23972.67), ([80, 1080], 19451.78), ([81, 1081], 22558.87), ([82, 1082], 6212.93), ([83, 1083], 3125.18), ([84, 1084], 21904.75), ([85, 1085], 14472.78), ([86, 1086], 8947.5), ([87, 1087], 15717.03), ([88, 1088], 21002.81), ([89, 1089], 1766.33), ([90, 1090], 2319.84), ([91, 1091], 8537.82), ([92, 1092], 5249.42), ([93, 1093], 10346.25), ([94, 1094], 10187.63), ([95, 1095], 23235.19), ([96, 1096], 5903.53), ([97, 1097], 4183.54), ([98, 1098], 11399.34), ([99, 1099], 24581.74), ([100, 1100], 4060.28), ([101, 1101], 5635.17), ([102, 1102], 19268.95), ([103, 1103], 9758.14), ([104, 1104], 21835.23), ([105, 1105], 23767.77), ([106, 1106], 23066.95), ([107, 1107], 12469.37), ([108, 1108], 6937.19), ([109, 1109], 22763.58), ([110, 1110], 23517.99), ([111, 1111], 14199.82), ([112, 1112], 6441.12), ([113, 1113], 24150.04), ([114, 1114], 13489.32), ([115, 1115], 17932.31), ([116, 1116], 24567.12), ([117, 1117], 8935.51), ([118, 1118], 22169.3), ([119, 1119], 17808.02), ([120, 1120], 16136.61), ([121, 1121], 16028.2), ([122, 1122], 12762.57), ([123, 1123], 1262.46), ([124, 1124], 310.97), ([125, 1125], 8146.86), ([126, 1126], 23251.15), ([127, 1127], 10727.56), ([128, 1128], 5191.81), ([129, 1129], 4943.74), ([130, 1130], 24514.73), ([131, 1131], 16601.48), ([132, 1132], 3810.41), ([133, 1133], 14003.0), ([134, 1134], 17728.18), ([135, 1135], 321.39), ([136, 1136], 14252.3), ([137, 1137], 3795.16), ([138, 1138], 17046.63), ([139, 1139], 7898.14), ([140, 1140], 12998.61), ([141, 1141], 6010.6), ([142, 1142], 18452.77), ([143, 1143], 19842.22), ([144, 1144], 9741.19), ([145, 1145], 12801.47), ([146, 1146], 4456.48), ([147, 1147], 14125.6), ([148, 1148], 5932.58), ([149, 1149], 23142.71), ([150, 1150], 24339.28), ([151, 1151], 10296.87), ([152, 1152], 21909.75), ([153, 1153], 18637.64), ([154, 1154], 11107.35), ([155, 1155], 8001.25), ([156, 1156], 11206.65), ([157, 1157], 18227.16), ([158, 1158], 24727.56), ([159, 1159], 13397.5), ([160, 1160], 8943.05), ([161, 1161], 9864.21), ([162, 1162], 10856.48), ([163, 1163], 20491.89), ([164, 1164], 8046.74), ([165, 1165], 22810.95), ([166, 1166], 1816.4), ([167, 1167], 7153.51), ([168, 1168], 22016.46), ([169, 1169], 15460.9), ([170, 1170], 5091.79), ([171, 1171], 19292.99), ([172, 1172], 7183.4), ([173, 1173], 3684.13), ([174, 1174], 1525.52), ([175, 1175], 14611.89), ([176, 1176], 17869.61), ([177, 1177], 13926.91), ([178, 1178], 788.05), ([179, 1179], 798.57), ([180, 1180], 4974.37), ([181, 1181], 5506.38), ([182, 1182], 16220.39), ([183, 1183], 7073.08), ([184, 1184], 16268.3), ([185, 1185], 8854.08), ([186, 1186], 16041.25), ([187, 1187], 8871.67), ([188, 1188], 18213.62), ([189, 1189], 14567.14), ([190, 1190], 12661.54), ([191, 1191], 19195.47), ([192, 1192], 14000.86), ([193, 1193], 17314.34), ([194, 1194], 12864.1), ([195, 1195], 1280.69), ([196, 1196], 20028.8), ([197, 1197], 9976.57), ([198, 1198], 14191.13), ([199, 1199], 9294.63), ([200, 1200], 1697.3), ([201, 1201], 12989.91), ([202, 1202], 11391.93), ([203, 1203], 20994.42), ([204, 1204], 13288.26), ([205, 1205], 20164.8), ([206, 1206], 23380.63), ([207, 1207], 1601.42), ([208, 1208], 1058.32), ([209, 1209], 24996.67), ([210, 1210], 552.72), ([211, 1211], 16475.66), ([212, 1212], 301.77), ([213, 1213], 12441.26), ([214, 1214], 15094.14), ([215, 1215], 9507.28), ([216, 1216], 21794.95), ([217, 1217], 18327.51), ([218, 1218], 4706.98), ([219, 1219], 5758.55), ([220, 1220], 19662.84), ([221, 1221], 4063.02), ([222, 1222], 10932.05), ([223, 1223], 15564.38), ([224, 1224], 23187.87), ([225, 1225], 23721.1), ([226, 1226], 14222.82), ([227, 1227], 5900.65), ([228, 1228], 20093.93), ([229, 1229], 13319.67), ([230, 1230], 3100.1), ([231, 1231], 936.84), ([232, 1232], 6789.16), ([233, 1233], 14092.03), ([234, 1234], 19293.42), ([235, 1235], 14762.78), ([236, 1236], 8794.71), ([237, 1237], 20167.55), ([238, 1238], 6256.32), ([239, 1239], 9281.99), ([240, 1240], 24890.47), ([241, 1241], 21125.61), ([242, 1242], 2544.82), ([243, 1243], 199.63), ([244, 1244], 9966.33), ([245, 1245], 10129.11), ([246, 1246], 14124.51), ([247, 1247], 19557.29), ([248, 1248], 12929.65), ([249, 1249], 24578.9), ([250, 1250], 7340.92), ([251, 1251], 5968.49), ([252, 1252], 15562.27), ([253, 1253], 21589.33), ([254, 1254], 23403.93), ([255, 1255], 17908.76), ([256, 1256], 3649.21), ([257, 1257], 20604.0), ([258, 1258], 20145.88), ([259, 1259], 3119.93), ([260, 1260], 8985.71), ([261, 1261], 11211.37), ([262, 1262], 4502.86), ([263, 1263], 17603.95), ([264, 1264], 15398.9), ([265, 1265], 18205.2), ([266, 1266], 8722.53), ([267, 1267], 14117.08), ([268, 1268], 3862.02), ([269, 1269], 15872.51), ([270, 1270], 22915.77), ([271, 1271], 2047.37), ([272, 1272], 11289.62), ([273, 1273], 11716.67), ([274, 1274], 17822.67), ([275, 1275], 6726.51), ([276, 1276], 6045.95), ([277, 1277], 19094.45), ([278, 1278], 2049.18), ([279, 1279], 24293.54), ([280, 1280], 9287.47), ([281, 1281], 4378.2), ([282, 1282], 8255.15), ([283, 1283], 2605.12), ([284, 1284], 21132.29), ([285, 1285], 1097.73), ([286, 1286], 11063.18), ([287, 1287], 8482.31), ([288, 1288], 22824.81), ([289, 1289], 933.77), ([290, 1290], 20987.95), ([291, 1291], 6884.26), ([292, 1292], 2206.69), ([293, 1293], 14394.38), ([294, 1294], 20735.63), ([295, 1295], 424.45), ([296, 1296], 8489.31), ([297, 1297], 22559.43), ([298, 1298], 12946.24), ([299, 1299], 7389.51), ([300, 1300], 4595.8), ([301, 1301], 11438.08), ([302, 1302], 12689.08), ([303, 1303], 8070.32), ([304, 1304], 2504.45), ([305, 1305], 2395.8), ([306, 1306], 16612.45), ([307, 1307], 6787.1), ([308, 1308], 2274.78), ([309, 1309], 15842.48), ([310, 1310], 7987.6), ([311, 1311], 5136.41), ([312, 1312], 11178.02), ([313, 1313], 2827.07), ([314, 1314], 6025.59), ([315, 1315], 12236.67), ([316, 1316], 4527.16), ([317, 1317], 1299.28), ([318, 1318], 17545.33), ([319, 1319], 1620.14), ([320, 1320], 864.85), ([321, 1321], 20343.39), ([322, 1322], 13674.98), ([323, 1323], 12785.29), ([324, 1324], 14117.92), ([325, 1325], 24260.62), ([326, 1326], 23470.65), ([327, 1327], 18747.13), ([328, 1328], 22032.45), ([329, 1329], 5627.79), ([330, 1330], 5508.31), ([331, 1331], 7496.74), ([332, 1332], 19463.83), ([333, 1333], 21503.8), ([334, 1334], 21913.37), ([335, 1335], 4034.99), ([336, 1336], 11253.81), ([337, 1337], 11379.54), ([338, 1338], 20338.44), ([339, 1339], 22689.83), ([340, 1340], 6224.78), ([341, 1341], 22672.95), ([342, 1342], 1219.04), ([343, 1343], 21066.23), ([344, 1344], 9215.83), ([345, 1345], 17684.48), ([346, 1346], 13060.67), ([347, 1347], 6593.61), ([348, 1348], 6485.79), ([349, 1349], 17877.89), ([350, 1350], 3724.2), ([351, 1351], 19612.07), ([352, 1352], 21741.76), ([353, 1353], 15314.23), ([354, 1354], 9679.07), ([355, 1355], 21242.91), ([356, 1356], 18082.39), ([357, 1357], 23219.03), ([358, 1358], 20137.55), ([359, 1359], 24535.42), ([360, 1360], 14592.82), ([361, 1361], 17434.24), ([362, 1362], 18253.77), ([363, 1363], 23729.79), ([364, 1364], 11567.28), ([365, 1365], 16057.27), ([366, 1366], 23413.79), ([367, 1367], 11823.62), ([368, 1368], 7494.83), ([369, 1369], 20474.17), ([370, 1370], 1907.82), ([371, 1371], 15513.37), ([372, 1372], 15568.34), ([373, 1373], 12137.89), ([374, 1374], 22127.06), ([375, 1375], 1597.05), ([376, 1376], 14526.52), ([377, 1377], 14412.59), ([378, 1378], 21793.99), ([379, 1379], 16065.86), ([380, 1380], 306.2), ([381, 1381], 23576.64), ([382, 1382], 19659.4), ([383, 1383], 18514.77), ([384, 1384], 23071.1), ([385, 1385], 3618.67), ([386, 1386], 9342.14), ([387, 1387], 12076.14), ([388, 1388], 7712.96), ([389, 1389], 18631.47), ([390, 1390], 2760.59), ([391, 1391], 10258.49), ([392, 1392], 9815.52), ([393, 1393], 19158.42), ([394, 1394], 18331.43), ([395, 1395], 1724.12), ([396, 1396], 9691.54), ([397, 1397], 12736.3), ([398, 1398], 17574.89), ([399, 1399], 694.51), ([400, 1400], 10769.4), ([401, 1401], 19621.22), ([402, 1402], 17166.96), ([403, 1403], 6694.0), ([404, 1404], 1240.39), ([405, 1405], 15313.91), ([406, 1406], 13901.09), ([407, 1407], 17058.11), ([408, 1408], 10054.02), ([409, 1409], 5296.86), ([410, 1410], 284.16), ([411, 1411], 492.75), ([412, 1412], 15876.85), ([413, 1413], 1369.8), ([414, 1414], 19368.82), ([415, 1415], 9649.01), ([416, 1416], 6281.57), ([417, 1417], 4456.35), ([418, 1418], 17150.66), ([419, 1419], 12703.98), ([420, 1420], 17330.85), ([421, 1421], 4500.37), ([422, 1422], 24349.38), ([423, 1423], 4840.92), ([424, 1424], 14991.08), ([425, 1425], 10843.05), ([426, 1426], 4687.4), ([427, 1427], 13561.67), ([428, 1428], 4751.63), ([429, 1429], 413.06), ([430, 1430], 15716.21), ([431, 1431], 3135.69), ([432, 1432], 12765.84), ([433, 1433], 11687.75), ([434, 1434], 18922.67), ([435, 1435], 10450.46), ([436, 1436], 21572.92), ([437, 1437], 9190.05), ([438, 1438], 16640.49), ([439, 1439], 15843.07), ([440, 1440], 22649.31), ([441, 1441], 24062.05), ([442, 1442], 8936.63), ([443, 1443], 9313.78), ([444, 1444], 22999.31), ([445, 1445], 18989.43), ([446, 1446], 21231.66), ([447, 1447], 18462.72), ([448, 1448], 9580.08), ([449, 1449], 7643.84), ([450, 1450], 11046.66), ([451, 1451], 10805.58), ([452, 1452], 10761.59), ([453, 1453], 20884.91), ([454, 1454], 2246.58), ([455, 1455], 9866.93), ([456, 1456], 14973.79), ([457, 1457], 5323.8), ([458, 1458], 10177.52), ([459, 1459], 5322.78), ([460, 1460], 3381.26), ([461, 1461], 20472.84), ([462, 1462], 16108.13), ([463, 1463], 12054.36), ([464, 1464], 19368.42), ([465, 1465], 4133.58), ([466, 1466], 8378.61), ([467, 1467], 4689.87), ([468, 1468], 7556.22), ([469, 1469], 18938.49), ([470, 1470], 10800.21), ([471, 1471], 3866.51), ([472, 1472], 19819.12), ([473, 1473], 3374.93), ([474, 1474], 22152.84), ([475, 1475], 3174.81), ([476, 1476], 16528.14), ([477, 1477], 19516.65), ([478, 1478], 565.88), ([479, 1479], 23610.1), ([480, 1480], 24721.06), ([481, 1481], 2240.01), ([482, 1482], 10746.16), ([483, 1483], 1711.93), ([484, 1484], 2358.3), ([485, 1485], 22276.55), ([486, 1486], 6172.27), ([487, 1487], 4334.19), ([488, 1488], 495.92), ([489, 1489], 18215.18), ([490, 1490], 5883.55), ([491, 1491], 14710.02), ([492, 1492], 22172.48), ([493, 1493], 2622.04), ([494, 1494], 21531.61), ([495, 1495], 16143.85), ([496, 1496], 17181.65), ([497, 1497], 8834.32), ([498, 1498], 6858.2), ([499, 1499], 15533.96), ([500, 1500], 12953.28), ([501, 1501], 7247.19), ([502, 1502], 12120.0), ([503, 1503], 13778.95), ([504, 1504], 22125.34), ([505, 1505], 11235.49), ([506, 1506], 11307.01), ([507, 1507], 24521.68), ([508, 1508], 859.61), ([509, 1509], 14957.85), ([510, 1510], 8141.2), ([511, 1511], 5794.7), ([512, 1512], 7010.28), ([513, 1513], 2950.47), ([514, 1514], 18538.55), ([515, 1515], 1137.1), ([516, 1516], 156.85), ([517, 1517], 6155.41), ([518, 1518], 5139.11), ([519, 1519], 17345.44), ([520, 1520], 1806.36), ([521, 1521], 1251.9), ([522, 1522], 8187.45), ([523, 1523], 18138.71), ([524, 1524], 14506.69), ([525, 1525], 16217.45), ([526, 1526], 1787.16), ([527, 1527], 15377.79), ([528, 1528], 13186.43), ([529, 1529], 16863.41), ([530, 1530], 21029.26), ([531, 1531], 18118.71), ([532, 1532], 11976.07), ([533, 1533], 4651.66), ([534, 1534], 21255.29), ([535, 1535], 10457.38), ([536, 1536], 9078.29), ([537, 1537], 10001.96), ([538, 1538], 3448.57), ([539, 1539], 10484.14), ([540, 1540], 23469.17), ([541, 1541], 304.12), ([542, 1542], 14323.33), ([543, 1543], 22380.34), ([544, 1544], 22927.01), ([545, 1545], 5016.56), ([546, 1546], 14684.71), ([547, 1547], 19000.16), ([548, 1548], 18161.19), ([549, 1549], 19156.76), ([550, 1550], 23826.05), ([551, 1551], 2461.04), ([552, 1552], 6156.69), ([553, 1553], 2432.63), ([554, 1554], 10436.05), ([555, 1555], 8592.43), ([556, 1556], 22333.56), ([557, 1557], 18393.07), ([558, 1558], 13588.74), ([559, 1559], 10680.58), ([560, 1560], 17722.5), ([561, 1561], 9186.07), ([562, 1562], 20253.22), ([563, 1563], 24439.93), ([564, 1564], 6166.18), ([565, 1565], 9003.1), ([566, 1566], 5951.44), ([567, 1567], 18842.81), ([568, 1568], 8703.28), ([569, 1569], 15987.05), ([570, 1570], 9053.4), ([571, 1571], 16301.04), ([572, 1572], 15451.36), ([573, 1573], 8023.34), ([574, 1574], 14657.6), ([575, 1575], 18946.83), ([576, 1576], 9465.25), ([577, 1577], 5009.65), ([578, 1578], 21047.1), ([579, 1579], 16472.16), ([580, 1580], 7395.19), ([581, 1581], 13453.77), ([582, 1582], 16110.75), ([583, 1583], 22149.43), ([584, 1584], 24114.59), ([585, 1585], 22218.2), ([586, 1586], 8485.88), ([587, 1587], 7609.86), ([588, 1588], 7498.75), ([589, 1589], 6154.0), ([590, 1590], 8273.66), ([591, 1591], 2306.82), ([592, 1592], 24321.22), ([593, 1593], 9341.55), ([594, 1594], 11214.7), ([595, 1595], 5733.02), ([596, 1596], 23497.89), ([597, 1597], 14068.99), ([598, 1598], 16512.07), ([599, 1599], 21148.65), ([600, 1600], 7129.08), ([601, 1601], 4631.16), ([602, 1602], 7797.01), ([603, 1603], 9864.83), ([604, 1604], 10405.58), ([605, 1605], 17720.4), ([606, 1606], 18129.3), ([607, 1607], 9548.85), ([608, 1608], 20046.74), ([609, 1609], 22304.2), ([610, 1610], 24223.4), ([611, 1611], 5406.43), ([612, 1612], 8010.29), ([613, 1613], 21190.4), ([614, 1614], 7909.9), ([615, 1615], 15340.03), ([616, 1616], 6998.51), ([617, 1617], 1622.87), ([618, 1618], 18655.16), ([619, 1619], 7259.71), ([620, 1620], 11225.34), ([621, 1621], 9183.26), ([622, 1622], 1785.38), ([623, 1623], 365.08), ([624, 1624], 9976.01), ([625, 1625], 1499.6), ([626, 1626], 22144.34), ([627, 1627], 21904.77), ([628, 1628], 3068.1), ([629, 1629], 10282.59), ([630, 1630], 14349.91), ([631, 1631], 21789.51), ([632, 1632], 1797.49), ([633, 1633], 19095.83), ([634, 1634], 484.92), ([635, 1635], 1555.59), ([636, 1636], 24591.98), ([637, 1637], 4985.98), ([638, 1638], 17082.39), ([639, 1639], 23029.52), ([640, 1640], 20139.6), ([641, 1641], 2303.45), ([642, 1642], 18853.32), ([643, 1643], 3083.14), ([644, 1644], 18726.8), ([645, 1645], 5298.54), ([646, 1646], 15613.43), ([647, 1647], 6824.91), ([648, 1648], 16279.37), ([649, 1649], 12295.54), ([650, 1650], 15571.97), ([651, 1651], 18477.76), ([652, 1652], 9952.5), ([653, 1653], 16449.56), ([654, 1654], 16974.71), ([655, 1655], 18039.8), ([656, 1656], 5876.16), ([657, 1657], 20736.89), ([658, 1658], 7792.59), ([659, 1659], 23267.0), ([660, 1660], 11857.53), ([661, 1661], 1599.67), ([662, 1662], 8324.12), ([663, 1663], 14844.74), ([664, 1664], 12768.98), ([665, 1665], 21204.05), ([666, 1666], 11364.59), ([667, 1667], 17387.3), ([668, 1668], 18243.04), ([669, 1669], 15608.8), ([670, 1670], 7250.15), ([671, 1671], 1872.93), ([672, 1672], 5924.0), ([673, 1673], 10615.0), ([674, 1674], 22038.19), ([675, 1675], 15990.23), ([676, 1676], 5089.27), ([677, 1677], 5386.87), ([678, 1678], 846.74), ([679, 1679], 18765.21), ([680, 1680], 10288.38), ([681, 1681], 2246.38), ([682, 1682], 20397.76), ([683, 1683], 6777.56), ([684, 1684], 15734.53), ([685, 1685], 3565.27), ([686, 1686], 12348.01), ([687, 1687], 2197.98), ([688, 1688], 18000.32), ([689, 1689], 8560.56), ([690, 1690], 15125.08), ([691, 1691], 20648.4), ([692, 1692], 24850.8), ([693, 1693], 22463.4), ([694, 1694], 4025.71), ([695, 1695], 20053.23), ([696, 1696], 4307.36), ([697, 1697], 18539.07), ([698, 1698], 20489.92), ([699, 1699], 2718.7), ([700, 1700], 4233.72), ([701, 1701], 16623.01), ([702, 1702], 21634.41), ([703, 1703], 3145.93), ([704, 1704], 14608.56), ([705, 1705], 4928.43), ([706, 1706], 17541.26), ([707, 1707], 13167.34), ([708, 1708], 3696.84), ([709, 1709], 22914.34), ([710, 1710], 5048.68), ([711, 1711], 559.93), ([712, 1712], 23865.27), ([713, 1713], 7102.92), ([714, 1714], 24907.11), ([715, 1715], 6069.03), ([716, 1716], 3434.2), ([717, 1717], 18919.02), ([718, 1718], 8639.47), ([719, 1719], 13170.26), ([720, 1720], 5360.13), ([721, 1721], 7721.2), ([722, 1722], 14867.84), ([723, 1723], 21709.19), ([724, 1724], 14631.66), ([725, 1725], 8320.42), ([726, 1726], 619.25), ([727, 1727], 24709.33), ([728, 1728], 22350.7), ([729, 1729], 8358.17), ([730, 1730], 10476.17), ([731, 1731], 19299.59), ([732, 1732], 4941.66), ([733, 1733], 17774.87), ([734, 1734], 23250.97), ([735, 1735], 13575.43), ([736, 1736], 15553.07), ([737, 1737], 21793.21), ([738, 1738], 9763.87), ([739, 1739], 12752.64), ([740, 1740], 19969.87), ([741, 1741], 3470.53), ([742, 1742], 19060.61), ([743, 1743], 15610.97), ([744, 1744], 7033.51), ([745, 1745], 15997.34), ([746, 1746], 24163.8), ([747, 1747], 16163.99), ([748, 1748], 11305.51), ([749, 1749], 9119.5), ([750, 1750], 4831.14), ([751, 1751], 6607.06), ([752, 1752], 10166.74), ([753, 1753], 15467.44), ([754, 1754], 4020.75), ([755, 1755], 10265.65), ([756, 1756], 2555.26), ([757, 1757], 9634.32), ([758, 1758], 8756.69), ([759, 1759], 11590.86), ([760, 1760], 22917.92), ([761, 1761], 6845.64), ([762, 1762], 14925.65), ([763, 1763], 10373.6), ([764, 1764], 22777.4), ([765, 1765], 100.84), ([766, 1766], 18744.59), ([767, 1767], 4611.98), ([768, 1768], 13048.77), ([769, 1769], 24143.6), ([770, 1770], 16147.23), ([771, 1771], 2396.24), ([772, 1772], 5915.87), ([773, 1773], 5662.54), ([774, 1774], 19112.77), ([775, 1775], 15170.28), ([776, 1776], 14895.86), ([777, 1777], 12137.29), ([778, 1778], 21869.34), ([779, 1779], 667.85), ([780, 1780], 15387.45), ([781, 1781], 3792.09), ([782, 1782], 17782.65), ([783, 1783], 9914.51), ([784, 1784], 16657.73), ([785, 1785], 20443.73), ([786, 1786], 9580.13), ([787, 1787], 13805.33), ([788, 1788], 2994.98), ([789, 1789], 24854.96), ([790, 1790], 18278.69), ([791, 1791], 14786.78), ([792, 1792], 8398.78), ([793, 1793], 9081.54), ([794, 1794], 15113.85), ([795, 1795], 10687.53), ([796, 1796], 22672.68), ([797, 1797], 13132.41), ([798, 1798], 6315.05), ([799, 1799], 5493.64), ([800, 1800], 3145.16), ([801, 1801], 7975.4), ([802, 1802], 1199.32), ([803, 1803], 2670.63), ([804, 1804], 19914.48), ([805, 1805], 16244.11), ([806, 1806], 23794.1), ([807, 1807], 19126.8), ([808, 1808], 24177.4), ([809, 1809], 12335.13), ([810, 1810], 18813.22), ([811, 1811], 19740.89), ([812, 1812], 17521.9), ([813, 1813], 11599.9), ([814, 1814], 19104.89), ([815, 1815], 19869.87), ([816, 1816], 6886.74), ([817, 1817], 10560.1), ([818, 1818], 5213.96), ([819, 1819], 18595.93), ([820, 1820], 4872.03), ([821, 1821], 11476.69), ([822, 1822], 16985.92), ([823, 1823], 6652.

In [90]:
summary_new=[]

In [92]:
for i in range(len(summary)):
    if(len(summary[i][0])!=2):
        summary_new.append(summary[i])

In [97]:
summary=summary_new
summary

[([2014, 2015, 2018], 6000.0)]

In [98]:
list1=[]
for i in range(len(summary)):
    x=len(summary[i][0])
    print(summary[i][0][0])
    print(summary[i][0][x-1])
    list1.append(summary[i][0][0])
    list1.append(summary[i][0][x-1])

2014
2018

In [94]:
df_sum=pd.DataFrame()
df_sum['Amount_total']=""
for i in range(len(summary_new)):
    df_sum.loc[i,'Amount_total']=summary_new[i][1]

In [111]:
ct=0
for i in range(len(list1)):
    if(i%2==0 and i!=0):
        ct=ct+1
    for j in range(len(df2)):
        if(list1[i]==df2['sender_id'][j] or list1[i]==df2['receiver_id'][j]):
                df2.loc[j,'Total amount transferred']=df_sum['Amount_total'][ct]
                print(j)

1000
1004

In [112]:
df2.tail(10)

,first_name,last_name,gender,age,country,state,postal code,social security number,company,job title,...,money_withdrawn_reason,money_withdrawn_location,Suspicious Activity,No.of Transactions,money_withdrawn_date,money_withdrawn_date_only,amount_transferred,sender_id,receiver_id,Total amount transferred
995,Nickey,Danford,Male,55,United States,Indiana,46896,553-71-3819,Meedoo,Human Resources Manager,...,Clothing,Virginia,False,8,2019-06-25 20:36:21,06/25/19,18311.72,996,1996,
996,Casandra,Old,Female,24,United States,Arizona,85210,773-97-5135,Twitterlist,VP Marketing,...,Industrial,New York,True,7,2018-03-16 00:15:30,03/16/18,17032.11,997,1997,
997,Kerby,Mablestone,Male,31,United States,New York,11407,737-52-7165,Wikido,Mechanical Systems Engineer,...,Electronics,Alabama,False,4,2018-07-13 22:16:46,07/13/18,22362.56,998,1998,
998,Griff,Thame,Male,60,United States,South Carolina,29905,701-54-2759,Twitternation,Web Designer I,...,Jewelery,District of Columbia,False,3,2017-10-26 01:44:52,10/26/17,21750.73,999,1999,
999,Rainer,Durante,Male,54,United States,Pennsylvania,19125,847-83-4580,Thoughtbeat,Environmental Tech,...,Health,New York,False,5,2018-03-27 09:52:30,03/27/18,3545.26,1000,2000,
1000,steve,rogers,Male,24,United States,Colorado,80935,785-91-9407,Fiveclub,Actuary,...,Electronics,California,False,1,2018-06-19 10:34:09,06/18/20,3000.00,2014,2015,6000
1001,thor,odinson,Male,24,United States,Colorado,80935,785-91-9407,Fiveclub,Actuary,...,Electronics,California,False,1,2018-06-21 10:34:09,06/18/20,3000.00,2016,2017,
1002,tony,stark,Male,24,United States,Colorado,80935,785-91-9407,Fiveclub,Actuary,...,Electronics,California,False,1,2018-06-18 10:34:09,06/18/20,3000.00,2012,2013,
1003,natasha,romanoff,Male,24,United States,Colorado,80935,785-91-9407,Fiveclub,Actuary,...,Electronics,California,False,1,2018-06-20 10:34:09,06/18/20,3000.00,2013,2016,
1004,bruce,banner,Male,24,United States,Colorado,80935,785-91-9407,Fiveclub,Actuary,...,Electronics,California,False,1,2018-06-22 10:34:09,06/18/20,3000.00,2015,2018,6000

# End of section

# Code for reading from file and running model

In [9]:
def runsql(x):
    global data,df2
    conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=DESKTOP-V8F09K2\KRISHNASQL; Database=kk; UID=sa; PWD=pokemon;')
    query=x
    cursor = conx.cursor();
    cursor.execute(query);
    data = cursor.fetchall()
    q = pd.read_sql_query(query,conx)
    df2 = pd.DataFrame(q, columns=df.columns)
    conx.close()

In [11]:
file1 = open('Rules.txt', 'r') 
Lines = file1.readlines() 
List=[]  
count = 0
# Strips the newline character 
for line in Lines: 
#     print(line.strip()) 
    print("Line{}: {}".format(count, line.strip()))
    print()
    count=count+1
    List.append(line.strip())

Line0: select first_name,last_name,MIN(gender) AS gender,MIN(age) AS age,MIN(country) AS country,MIN(state) AS state,MIN([postal code]) AS [postal code],MIN([social security number]) AS [social security number],MIN([company]) AS [company],MIN([job title]) AS [job title],MIN([salary]) AS [salary],MIN([card number]) AS [card number],MIN([card type]) AS [card type],SUM(money_withdrawn_amount) AS money_withdrawn_amount,MIN([money_withdrawn_reason]) AS [money_withdrawn_reason],MIN([money_withdrawn_location]) AS [money_withdrawn_location],MIN([Suspicious Activity]+0) AS [Suspicious Activity],MIN([No.of Transactions]) AS [No.of Transactions],MIN([money_withdrawn_date]) AS [money_withdrawn_date],MIN([money_withdrawn_date_only]) AS [money_withdrawn_date_only]FROM output2 GROUP BY first_name,last_name,money_withdrawn_date_only

Line1: SELECT [first_name],[last_name],[social security number] FROM [kk].[dbo].[output2] WHERE [No.of Transactions]*([money_withdrawn_amount])>=([salary])

Line2: SELECT [first_name],[last_name],[social security number] FROM [kk].[dbo].[output3] WHERE [Total amount transferred]>=([salary])

In [12]:
runsql(List[2])
df2.head()

Empty DataFrame
Columns: [Unnamed: 0, first_name, last_name, gender, age, country, state, postal code, social security number, company, job title, salary, card number, card type, money_withdrawn_amount, money_withdrawn_reason, money_withdrawn_location, Suspicious Activity, No.of Transactions, money_withdrawn_date, money_withdrawn_date_only, amount_transferred, sender_id, receiver_id]
Index: []

[0 rows x 24 columns]

# End of section

# Order of execution

## 1) Insert new records
## 2) Run function to find mappings and total amount transferred
## 3) Run the rule model 
## 4) Update names in fraud name DB