In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import pyodbc
import sqlalchemy

In [36]:
os.chdir('C://Users//hp/Desktop\\ProFinch')

In [37]:
df=pd.DataFrame()
df=pd.read_excel('CustomerInfo4.xlsx')

In [46]:
df1=pd.DataFrame()
df1=pd.read_excel('MOCK_DATA.xlsx')

In [47]:
len(df1)

1000

In [54]:
len(df1['receiver_id'].unique())

1000

In [62]:
num=1001

In [50]:
for i in range(1000):
         df1.loc[i,'sender_id']=num
         num=num+1

In [63]:
for i in range(1000):
         df1.loc[i,'receiver_id']=num
         num=num+1

In [64]:
df1

,first_name_receiver,last_name_receiver,amount_transferred,sender_id,receiver_id
0,Lucina,McMylor,10006.60,1,1001
1,Lindsay,Suatt,3353.97,2,1002
2,Fania,Montgomery,22979.20,3,1003
3,Sharron,Peperell,5743.14,4,1004
4,Pace,Geaney,687.49,5,1005
...,...,...,...,...,...
995,Remus,Rault,18311.72,996,1996
996,Ann,Coppens,17032.11,997,1997
997,Barde,Chesnay,22362.56,998,1998
998,Cinda,Alcock,21750.73,999,1999
999,Carlene,Dossetter,3545.26,1000,2000

In [ ]:
# for i in range(1000):
#     if(df1['sender_id'][i]==df1['receiver_id'][i]):
#         print("oh no")
#         print(df1['sender_id'][i])
#         print(df1['receiver_id'][i])
#         df1.loc[i,'sender_id']=617

# Merge df1 horizontally with df

In [65]:
df_new = pd.concat([df, df1], axis=1)

In [66]:
df_new=df_new.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)

In [67]:
df_new=df_new.drop(['first_name_receiver','last_name_receiver'],axis=1)

In [68]:
df_new.to_excel("CustomerInfo5.xlsx")

# Function for finding mappings

In [3]:
df = pd.DataFrame(
    {
     'sender_id': {0: '002', 1: '017', 2: '125', 3: '689', 4: '354'},
     'receiver_id': {0: '125', 1: '354', 2: '689', 3: '233', 4: '456'},
     'amount': {0: 10, 1: 90, 2: 70, 3: 5, 4: 10}}
)

In [3]:
df = pd.DataFrame(
    {
     'sender_id': {0: '2012', 1: '2014', 2: '2013', 3: '2016', 4: '2015'},
     'receiver_id': {0: '2013', 1: '2015', 2: '2016', 3: '2017', 4: '2018'},
     'amount': {0: 10, 1: 90, 2: 70, 3: 5, 4: 10}}
)

In [4]:
df

  sender_id receiver_id  amount
0       002         125      10
1       017         354      90
2       125         689      70
3       689         233       5
4       354         456      10

In [6]:
df['Suspicious Activity']=""

In [5]:

class Node:
    def __init__(self,sender_id,receiver_id,amount):
#         self.transac = transaction_id
        self.sender = sender_id
        self.receiver = receiver_id
        self.next = None
        self.amount = amount
        self.visited = False
    def traverse(self, chain=None, total=0):
        if (self.visited): # undo visited nodes
            return
        self.visited = True
        if chain is None: # this is the beginning of the traversal
            chain = [self.sender]
        chain += [self.receiver]
        total += self.amount
        if self.next is not None:
            return self.next.traverse(chain, total)
        return chain, total

In [6]:
transc = [Node( 
        row["sender_id"],
        row["receiver_id"],
        row["amount"]
    ) for i, row in df.iterrows()]

In [9]:
len(transc)

5

In [7]:
for i, v in enumerate(transc):
    for j, k in enumerate(transc):
        # if the receiver v same as the sender from j
        if v.receiver == k.sender:
            v.next = k


summary = [i.traverse() for i in transc]
summary = [i for i in summary if i is not None] # removing None

print(summary)

[(['002', '125', '689', '233'], 85), (['017', '354', '456'], 100)]

In [11]:
x=len(summary[0][0])
print(summary[0][0][0])
print(summary[0][0][x-1])

2012
2017

In [9]:
df_sum=pd.DataFrame()
df_sum['Amount_total']=""
for i in range(len(summary)):
    df_sum.loc[i,'Amount_total']=summary[i][1]

In [10]:
df_sum

  Amount_total
0           85
1          100

## mark as suspicious activity(for sender and receiver)

In [135]:
len(summary[1][0])

3

In [130]:
summary

[(['002', '125', '689', '233'], 85), (['017', '354', '456'], 100)]

In [11]:
list1=[]

In [12]:
for i in range(len(summary)):
    x=len(summary[i][0])
    print(summary[i][0][0])
    print(summary[i][0][x-1])
    list1.append(summary[i][0][0])
    list1.append(summary[i][0][x-1])

002
233
017
456

In [13]:
list1

['002', '233', '017', '456']

In [14]:
for i in range(len(list1)):
    for j in range(len(df)):
        if(list1[i]==df['sender_id'][j] or list1[i]==df['receiver_id'][j]):
            df['Suspicious Activity'][j]=1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
df

  sender_id receiver_id  amount Suspicious Activity
0       002         125      10                   1
1       017         354      90                   1
2       125         689      70
3       689         233       5                   1
4       354         456      10                   1

In [26]:
df["Total amount"]=""

In [30]:
ct=0
for i in range(len(list1)):
    if(i%2==0 and i!=0):
        ct=ct+1
    for j in range(len(df)):
        if(list1[i]==df['sender_id'][j] or list1[i]==df['receiver_id'][j]):
                df.loc[j,'Total amount']=df_sum['Amount_total'][ct]

In [31]:
df

  sender_id receiver_id  amount Suspicious Activity Total amount
0       002         125      10                   1           85
1       017         354      90                   1          100
2       125         689      70
3       689         233       5                   1           85
4       354         456      10                   1          100