In [24]:
import pandas as pd
import numpy as np
import os
import pyodbc
import datetime
from mlxtend.frequent_patterns import apriori, association_rules 
from mlxtend.preprocessing import TransactionEncoder

In [13]:
# from apyori import apriori

In [3]:
os.chdir('C:\\Users\\hp\\Desktop\\ProFinch')

In [4]:
df=pd.read_excel("CustomerInfo5.xlsx")

In [5]:
df=df.drop(['Unnamed: 0'],axis=1)

# Method1

In [9]:
%%time
records=[]

for i in range(1002):
    records.append([str(df.values[i,j]) for j in range(0,24)])

Wall time: 3min 43s

In [10]:
records1 =[]

for i in range(20):
    records1.append(records[i])

In [11]:
len(records)

1002

In [14]:
%%time
association_rules = apriori(records, min_support=0.0045, min_confidence=0.8, min_lift=3, min_length=4)

Wall time: 0 ns

In [15]:
ct=0
for i in association_rules:
    print(i)
    print()
    ct+=1
    if(ct==5):
        break

RelationRecord(items=frozenset({'False', 'jcb', 'Oloo'}), support=0.00499001996007984, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Oloo'}), items_add=frozenset({'False', 'jcb'}), confidence=0.8333333333333333, lift=3.047445255474452)])

KeyboardInterrupt:

In [30]:
for item in association_rules:                                          

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: 46 -> New York
Support: 0.00499001996007984
Confidence: 0.38461538461538464
Lift: 6.761133603238867
=====================================
Rule: Florida -> Account Executive
Support: 0.00499001996007984
Confidence: 0.3333333333333333
Lift: 3.8390804597701145
=====================================
Rule: Editor -> California
Support: 0.005988023952095809
Confidence: 0.5
Lift: 4.175
=====================================
Rule: District of Columbia -> Health
Support: 0.005988023952095809
Confidence: 0.2142857142857143
Lift: 4.87987012987013
=====================================
Rule: Georgia -> laser
Support: 0.00499001996007984
Confidence: 0.22727272727272727
Lift: 8.434343434343434
=====================================
Rule: 1 -> 46
Support: 0.00499001996007984
Confidence: 0.38461538461538464
Lift: 6.761133603238867
=====================================
Rule: 1 -> Florida
Support: 0.00499001996007984
Confidence: 0.3333333333333333
Lift: 3.8390804597701145
=====================================
Rule: 1 -> Editor
Support: 0.005988023952095809
Confidence: 0.5
Lift: 4.175
=====================================
Rule: 1 -> District of Columbia
Support: 0.005988023952095809
Confidence: 0.2142857142857143
Lift: 4.87987012987013
=====================================
Rule: 1 -> laser
Support: 0.00499001996007984
Confidence: 0.22727272727272727
Lift: 8.434343434343434
=====================================
Rule: United States -> 46
Support: 0.00499001996007984
Confidence: 0.38461538461538464
Lift: 6.761133603238867
=====================================
Rule: United States -> Florida
Support: 0.00499001996007984
Confidence: 0.3333333333333333
Lift: 3.8390804597701145
=====================================
Rule: Alaska -> jcb
Support: 0.005988023952095809
Confidence: 0.5454545454545454
Lift: 3.2149732620320854
=====================================
Rule: Florida -> Books
Support: 0.005988023952095809
Confidence: 0.30000000000000004
Lift: 3.455172413793104
=====================================
Rule: Editor -> Female
Support: 0.00499001996007984
Confidence: 0.41666666666666663
Lift: 7.198275862068964
=====================================
Rule: Editor -> United States
Support: 0.005988023952095809
Confidence: 0.5
Lift: 4.175
=====================================
Rule: Delaware -> jcb
Support: 0.00499001996007984
Confidence: 0.7142857142857143
Lift: 4.2100840336134455
=====================================
Rule: District of Columbia -> Health
Support: 0.00499001996007984
Confidence: 0.29411764705882354
Lift: 6.697860962566845
=====================================
Rule: District of Columbia -> Health
Support: 0.005988023952095809
Confidence: 0.2142857142857143
Lift: 4.87987012987013
=====================================
Rule: Grocery -> False
Support: 0.006986027944111776
Confidence: 0.24137931034482757
Lift: 3.2248275862068967
=====================================
Rule: jcb -> False
Support: 0.00499001996007984
Confidence: 0.8333333333333333
Lift: 3.047445255474452
=====================================
Rule: Minnesota -> Female
Support: 0.00499001996007984
Confidence: 0.3125
Lift: 4.175000000000001
=====================================
Rule: Female -> True
Support: 0.005988023952095809
Confidence: 0.5454545454545454
Lift: 3.141065830721003
=====================================
Rule: Georgia -> United States
Support: 0.00499001996007984
Confidence: 0.22727272727272727
Lift: 8.434343434343434
=====================================
Rule: mastercard -> Music
Support: 0.00499001996007984
Confidence: 0.2631578947368421
Lift: 3.0308529945553535
=====================================
Rule: Nebraska -> jcb
Support: 0.007984031936127744
Confidence: 0.6666666666666665
Lift: 3.9294117647058817
=====================================
Rule: mastercard -> Toys
Support: 0.005988023952095809
Confidence: 0.30000000000000004
Lift: 3.455172413793104
=====================================
Rule: 1 -> United States
Support: 0.00499001996007984
Confidence: 0.38461538461538464
Lift: 6.761133603238867
=====================================
Rule: 1 -> United States
Support: 0.00499001996007984
Confidence: 0.3333333333333333
Lift: 3.8390804597701145
=====================================
Rule: 1 -> Alaska
Support: 0.005988023952095809
Confidence: 0.5454545454545454
Lift: 3.2149732620320854
=====================================
Rule: 1 -> Florida
Support: 0.005988023952095809
Confidence: 0.30000000000000004
Lift: 3.455172413793104
=====================================
Rule: 1 -> Editor
Support: 0.00499001996007984
Confidence: 0.41666666666666663
Lift: 7.198275862068964
=====================================
Rule: 1 -> Editor
Support: 0.005988023952095809
Confidence: 0.5
Lift: 4.175
=====================================
Rule: 1 -> Delaware
Support: 0.00499001996007984
Confidence: 0.7142857142857143
Lift: 4.2100840336134455
=====================================
Rule: 1 -> District of Columbia
Support: 0.00499001996007984
Confidence: 0.29411764705882354
Lift: 6.697860962566845
=====================================
Rule: 1 -> District of Columbia
Support: 0.005988023952095809
Confidence: 0.2142857142857143
Lift: 4.87987012987013
=====================================
Rule: 1 -> Grocery
Support: 0.006986027944111776
Confidence: 0.24137931034482757
Lift: 3.2248275862068967
=====================================
Rule: 1 -> jcb
Support: 0.00499001996007984
Confidence: 0.8333333333333333
Lift: 3.047445255474452
=====================================
Rule: 1 -> Minnesota
Support: 0.00499001996007984
Confidence: 0.3125
Lift: 4.175000000000001
=====================================
Rule: 1 -> Female
Support: 0.005988023952095809
Confidence: 0.5454545454545454
Lift: 3.141065830721003
=====================================
Rule: 1 -> United States
Support: 0.00499001996007984
Confidence: 0.22727272727272727
Lift: 8.434343434343434
=====================================
Rule: 1 -> mastercard
Support: 0.00499001996007984
Confidence: 0.2631578947368421
Lift: 3.0308529945553535
=====================================
Rule: 1 -> Nebraska
Support: 0.007984031936127744
Confidence: 0.6666666666666665
Lift: 3.9294117647058817
=====================================
Rule: 1 -> mastercard
Support: 0.005988023952095809
Confidence: 0.30000000000000004
Lift: 3.455172413793104
=====================================
Rule: Male -> False
Support: 0.005988023952095809
Confidence: 0.4
Lift: 3.155905511811024
=====================================
Rule: Female -> 35
Support: 0.005988023952095809
Confidence: 0.3157894736842105
Lift: 3.7226006191950467
=====================================
Rule: Female -> False
Support: 0.00499001996007984
Confidence: 0.45454545454545453
Lift: 3.098330241187384
=====================================
Rule: jcb -> Female
Support: 0.005988023952095809
Confidence: 0.7500000000000001
Lift: 3.2392241379310347
=====================================
Rule: 86 -> Female
Support: 0.00499001996007984
Confidence: 0.35714285714285715
Lift: 4.2100840336134455
=====================================
Rule: Alaska -> United States
Support: 0.005988023952095809
Confidence: 0.5454545454545454
Lift: 3.2149732620320854
=====================================
Rule: Florida -> False
Support: 0.00499001996007984
Confidence: 0.25
Lift: 4.040322580645161
=====================================
Rule: United States -> Florida
Support: 0.005988023952095809
Confidence: 0.30000000000000004
Lift: 3.455172413793104
=====================================
Rule: Editor -> Female
Support: 0.00499001996007984
Confidence: 0.41666666666666663
Lift: 7.198275862068964
=====================================
Rule: United States -> Delaware
Support: 0.00499001996007984
Confidence: 0.7142857142857143
Lift: 4.2100840336134455
=====================================
Rule: District of Columbia -> Health
Support: 0.00499001996007984
Confidence: 0.29411764705882354
Lift: 6.697860962566845
=====================================
Rule: Florida -> Female
Support: 0.00499001996007984
Confidence: 0.20833333333333331
Lift: 3.3669354838709675
=====================================
Rule: Grocery -> Female
Support: 0.00499001996007984
Confidence: 0.20833333333333331
Lift: 4.538043478260869
=====================================
Rule: mastercard -> Male
Support: 0.00499001996007984
Confidence: 0.2
Lift: 3.781132075471698
=====================================
Rule: Grocery -> United States
Support: 0.006986027944111776
Confidence: 0.24137931034482757
Lift: 3.2248275862068967
=====================================
Rule: United States -> False
Support: 0.00499001996007984
Confidence: 0.8333333333333333
Lift: 3.047445255474452
=====================================

Rule: Kentucky -> Female
Support: 0.005988023952095809
Confidence: 0.30000000000000004
Lift: 3.5364705882352947
=====================================
Rule: Minnesota -> United States
Support: 0.00499001996007984
Confidence: 0.3125
Lift: 4.175000000000001
=====================================
Rule: United States -> Female
Support: 0.005988023952095809
Confidence: 0.5454545454545454
Lift: 3.141065830721003
=====================================
Rule: Female -> jcb
Support: 0.00499001996007984
Confidence: 0.45454545454545453
Lift: 5.358288770053476
=====================================
Rule: Male -> jcb
Support: 0.00499001996007984
Confidence: 0.41666666666666663
Lift: 4.911764705882353
=====================================
Rule: Male -> Nebraska
Support: 0.00499001996007984
Confidence: 0.41666666666666663
Lift: 4.911764705882353
=====================================
Rule: United States -> mastercard
Support: 0.00499001996007984
Confidence: 0.2631578947368421
Lift: 3.0308529945553535
=====================================
Rule: United States -> Nebraska
Support: 0.007984031936127744
Confidence: 0.6666666666666665
Lift: 3.9294117647058817
=====================================
Rule: United States -> mastercard
Support: 0.005988023952095809
Confidence: 0.30000000000000004
Lift: 3.455172413793104
=====================================

KeyboardInterrupt:

# Method2

In [68]:
df.columns.tolist()

['first_name',
 'last_name',
 'gender',
 'age',
 'country',
 'state',
 'postal_code',
 'social_security_number',
 'company',
 'job_title',
 'salary',
 'card_number',
 'card_type',
 'money_withdrawn_amount',
 'money_withdrawn_reason',
 'money_withdrawn_location',
 'suspicious_activity',
 'no.of_transactions',
 'money_withdrawn_date',
 'money_withdrawn_date_only',
 'amount_transferred',
 'sender_id',
 'receiver_id',
 'time_only']

In [19]:
df.columns=df.columns.str.strip().str.lower().str.replace(' ','_').str.replace('(','').str.replace(')','')

In [16]:
df[df['state'] =="Texas"]

,first_name,last_name,gender,age,country,state,postal code,social security number,company,job title,...,money_withdrawn_reason,money_withdrawn_location,Suspicious Activity,No.of Transactions,money_withdrawn_date,money_withdrawn_date_only,amount_transferred,sender_id,receiver_id,Time_only
3,Adelheid,Gainforth,Female,61,United States,Texas,77388,224-56-1586,Blogtag,GIS Technical Architect,...,Music,Texas,True,1,2018-01-23 03:52:32,01/23/18,9866.93,455,1455,03:52:32
6,Adrianna,Althrop,Female,68,United States,Texas,77806,181-84-5045,Voonder,Staff Accountant II,...,Jewelery,Texas,False,1,2017-06-30 06:59:59,06/30/17,18938.49,469,1469,06:59:59
34,Ambrose,Bridgement,Male,21,United States,Texas,75241,719-04-4308,Jetpulse,Programmer IV,...,Outdoors,District of Columbia,True,1,2019-03-12 05:06:08,03/12/19,19516.65,477,1477,05:06:08
41,Anderson,Godfroy,Male,40,United States,Texas,76905,619-14-3577,Shuffletag,Food Chemist,...,Sports,Texas,False,1,2019-06-02 05:58:58,06/02/19,14631.66,724,1724,05:58:58
52,Anni,Gianneschi,Female,71,United States,Texas,78778,401-44-3491,Jabbersphere,Systems Administrator II,...,Kids,Texas,False,1,2019-08-23 11:26:18,08/23/19,14991.08,424,1424,11:26:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,Welby,Zanazzi,Male,61,United States,Texas,75353,151-75-0158,Avamba,Developer III,...,Tools,Texas,True,1,2019-06-07 03:04:05,06/07/19,5743.14,4,1004,03:04:05
981,Wood,Spaunton,Male,61,United States,Texas,77025,731-78-4981,Thoughtblab,Environmental Tech,...,Toys,Alabama,True,1,2018-05-11 07:27:26,05/11/18,19869.87,815,1815,07:27:26
991,Yetta,Ginman,Female,86,United States,Texas,78710,680-19-8641,Quaxo,Pharmacist,...,Clothing,Alaska,True,1,2019-07-05 05:46:44,07/05/19,7790.79,913,1913,05:46:44
993,Yorgos,Marran,Male,54,United States,Texas,76121,578-08-9144,Rhynoodle,Human Resources Assistant II,...,Tools,Texas,False,1,2018-01-19 06:50:07,01/19/18,15170.28,775,1775,06:50:07
997,Zaccaria,Thow,Male,72,United States,Texas,88574,692-56-8900,Katz,Software Engineer IV,...,Movies,Texas,False,1,2018-10-04 05:45:45,10/04/18,11396.52,30,1030,05:45:45

In [26]:
basket = (df[df['country'] =="United States"]
          .groupby(['social_security_number','money_withdrawn_amount','salary','time_only'])['suspicious_activity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('social_security_number'))

In [102]:
basket

time_only,money_withdrawn_amount,salary,00:00:25,00:01:02,00:01:12,00:01:59,00:02:35,00:03:21,00:04:52,00:05:07,...,23:41:54,23:48:53,23:49:56,23:50:15,23:52:16,23:54:49,23:55:55,23:56:05,23:57:17,23:59:24
social_security_number,,,,,,,,,,,,,,,,,,,,,
100-62-3535,28785.43,29523,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103-40-4885,12213.78,96145,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103-68-0735,2329.69,132261,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104-89-5747,8196.49,144329,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107-35-6672,18490.58,123408,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897-59-9901,18603.50,58343,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
898-65-6466,13193.49,54310,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
898-94-2781,15782.94,44263,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
899-56-9153,17802.69,44822,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
899-97-3671,21483.49,134017,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
def encode_units(x):
    if(type(x)!=str):
        if x <= 0:
            return 0
        if x >= 1:
            return 1

In [27]:
basket_sets = basket.applymap(encode_units)
basket_sets

time_only,money_withdrawn_amount,salary,00:00:25,00:01:02,00:01:12,00:01:59,00:02:35,00:03:21,00:04:52,00:05:07,...,23:41:54,23:48:53,23:49:56,23:50:15,23:52:16,23:54:49,23:55:55,23:56:05,23:57:17,23:59:24
social_security_number,,,,,,,,,,,,,,,,,,,,,
100-62-3535,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103-40-4885,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103-68-0735,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104-89-5747,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107-35-6672,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897-59-9901,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
898-65-6466,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
898-94-2781,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
899-56-9153,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
899-97-3671,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
print(frequent_itemsets)

   support                          itemsets
0      1.0          (money_withdrawn_amount)
1      1.0                          (salary)
2      1.0  (salary, money_withdrawn_amount)

In [29]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(salary),(money_withdrawn_amount),1.0,1.0,1.0,1.0,1.0,0.0,inf
1,(money_withdrawn_amount),(salary),1.0,1.0,1.0,1.0,1.0,0.0,inf

# Method3

In [107]:
te = TransactionEncoder()
te_ary = te.fit(df).transform(df)
df1 = pd.DataFrame(te_ary, columns=te.columns_)
df1

,.,_,a,b,c,d,e,f,g,h,...,n,o,p,r,s,t,u,v,w,y
0,False,True,True,False,False,False,True,True,False,False,...,True,False,False,True,True,True,False,False,False,False
1,False,True,True,False,False,False,True,False,False,False,...,True,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,True,True,False,True,False,...,True,False,False,True,False,False,False,False,False,False
3,False,False,True,False,False,False,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,True,True,False,True,False,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1000,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1001,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [123]:
df1.columns.tolist()

['.',
 '_',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y']

In [125]:
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.01)

     support        itemsets
0   0.017964             (1)
1   0.017964             (2)
2   0.011976             (5)
3   0.018962             (6)
4   0.012974            (10)
..       ...             ...
58  0.010978      (17, 5, 6)
59  0.010978     (13, 6, 14)
60  0.010978     (17, 6, 14)
61  0.010978   (1, 2, 19, 6)
62  0.010978  (1, 13, 6, 14)

[63 rows x 2 columns]

In [114]:
frequent_itemsets = apriori(df1, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support      itemsets  length
0   0.017964           (_)       1
1   0.017964           (a)       1
2   0.011976           (d)       1
3   0.018962           (e)       1
4   0.012974           (i)       1
..       ...           ...     ...
58  0.010978     (r, d, e)       3
59  0.010978     (m, n, e)       3
60  0.010978     (n, r, e)       3
61  0.010978  (a, t, _, e)       4
62  0.010978  (m, n, _, e)       4

[63 rows x 3 columns]

In [119]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),(_),0.017964,0.017964,0.013972,0.777778,43.296296,0.013649,4.419162
1,(_),(a),0.017964,0.017964,0.013972,0.777778,43.296296,0.013649,4.419162
2,(d),(_),0.011976,0.017964,0.010978,0.916667,51.027778,0.010763,11.784431
3,(_),(d),0.017964,0.011976,0.010978,0.611111,51.027778,0.010763,2.540633
4,(_),(e),0.017964,0.018962,0.015968,0.888889,46.877193,0.015627,8.829341

In [120]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),(_),0.017964,0.017964,0.013972,0.777778,43.296296,0.013649,4.419162
1,(_),(a),0.017964,0.017964,0.013972,0.777778,43.296296,0.013649,4.419162
2,(d),(_),0.011976,0.017964,0.010978,0.916667,51.027778,0.010763,11.784431
3,(_),(d),0.017964,0.011976,0.010978,0.611111,51.027778,0.010763,2.540633
4,(_),(e),0.017964,0.018962,0.015968,0.888889,46.877193,0.015627,8.829341
...,...,...,...,...,...,...,...,...,...
201,"(_, e)","(m, n)",0.015968,0.011976,0.010978,0.687500,57.406250,0.010787,3.161677
202,(m),"(e, _, n)",0.011976,0.011976,0.010978,0.916667,76.541667,0.010835,11.856287
203,(n),"(m, _, e)",0.015968,0.010978,0.010978,0.687500,62.625000,0.010803,3.164870
204,(_),"(e, m, n)",0.017964,0.010978,0.010978,0.611111,55.666667,0.010781,2.543199
205,(e),"(m, _, n)",0.018962,0.010978,0.010978,0.578947,52.736842,0.010770,2.348927