# Defining Rules model and text file reading function

In [8]:
import pyodbc
import pandas as pd
import os

In [2]:
conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=DESKTOP-V8F09K2\KRISHNASQL; Database=kk; UID=sa; PWD=pokemon;')

In [9]:
os.chdir('C:\\Users\\hp\\Desktop\\ProFinch')

In [50]:
df=pd.read_excel('CustomerInfo5.xlsx')

In [17]:
df=df.drop(['Unnamed: 0'],axis=1)

In [51]:
df.columns.tolist()

['Unnamed: 0',
 'Unnamed: 0.1',
 'Unnamed: 0.1.1',
 'first_name',
 'last_name',
 'gender',
 'age',
 'country',
 'state',
 'postal code',
 'social security number',
 'company',
 'job title',
 'salary',
 'card number',
 'card type',
 'money_withdrawn_amount',
 'money_withdrawn_reason',
 'money_withdrawn_location',
 'Suspicious Activity',
 'No.of Transactions',
 'money_withdrawn_date',
 'money_withdrawn_date_only',
 'amount_transferred',
 'sender_id',
 'receiver_id',
 'Time_only']

In [26]:
df['No.of Transactions']=1
df['Suspicious Activity']=False

In [45]:
df1.to_excel("CustomerInfo5.xlsx")

In [59]:
# query = "SELECT first_name,last_name,gender from output where No.of Transactions=5"
query="SELECT [first_name],[last_name],[social security number] FROM [kk].[dbo].[output3] WHERE ([state]!=[money_withdrawn_location])"
# query="select last_name from output"
# query="select * from output"
cursor = conx.cursor();
cursor.execute(query);
data = cursor.fetchall()

In [60]:
len(data)

197

In [23]:
data[:1]

[('Bailie', 'Keppel', '667-83-6790')]

In [27]:
q = pd.read_sql_query(query,conx)

In [28]:
# q

In [29]:
df = pd.DataFrame(q, columns=['first_name','last_name','social security number'])
# df=pd.DataFrame(q,columns=['No#of Transactions'])

In [30]:
df

    first_name  last_name social security number
0       Bailie     Keppel            667-83-6790
1        Rayna    Josephs            248-61-5179
2         Cull     Tabour            205-43-7993
3       Noelle   Sterrick            294-48-6337
4       Maximo   Switland            171-39-7066
..         ...        ...                    ...
334        Bax   Checkley            288-06-7434
335     Shadow      Stife            886-60-7236
336     Angela      Aiken            860-32-7461
337     Verena  Grimsdyke            736-91-4901
338   Casandra        Old            773-97-5135

[339 rows x 3 columns]

# Changing Suspicious Activity in Original File

In [42]:
import os
os.chdir('C:\\Users\\hp\\Desktop\\ProFinch')
df1=pd.DataFrame()
df1=pd.read_excel("CustomerInfo5.xlsx")

In [43]:

for i in range(len(df2)):
    for j in range(len(df1)):
        if(df2['social security number'][i]==df1['social security number'][j]):
            df1.loc[j,'Suspicious Activity']=True

In [38]:
df1['Suspicious Activity'].unique()

array([False,  True])

In [44]:
ct=0
for i in range(1000):
     if(df1['Suspicious Activity'][i]==True):
            ct=ct+1
print(ct)

346

In [37]:
pwd

'C:\\Users\\hp\\Desktop\\ProFinch'

In [39]:
df1.columns

Index(['Unnamed: 0', 'first_name', 'last_name', 'gender', 'age', 'country',
       'state', 'postal code', 'social security number', 'company',
       'job title', 'salary', 'card number', 'card type',
       'money_withdrawn_amount', 'money_withdrawn_reason',
       'money_withdrawn_location', 'money_withdrawn_time', 'Valid Transaction',
       'Suspicious Activity', 'No.of Transactions'],
      dtype='object')

In [38]:
df1.to_excel("CustomerInfo3.xlsx")

In [ ]:
# WRITE IT BACK INTO EXCEL!!

In [6]:
conx.close()

# File Reading

In [3]:
pwd

'C:\\Users\\hp\\ProFinch'

In [47]:
file1 = open('Rules.txt', 'r') 
Lines = file1.readlines() 
List=[]  
count = 0
# Strips the newline character 
for line in Lines: 
#     print(line.strip()) 
    print("Line{}: {}".format(count, line.strip()))
    print()
    count=count+1
    List.append(line.strip())

Line0: select first_name,last_name,MIN(gender) AS gender,MIN(age) AS age,MIN(country) AS country,MIN(state) AS state,MIN([postal code]) AS [postal code],MIN([social security number]) AS [social security number],MIN([company]) AS [company],MIN([job title]) AS [job title],MIN([salary]) AS [salary],MIN([card number]) AS [card number],MIN([card type]) AS [card type],SUM(money_withdrawn_amount) AS money_withdrawn_amount,MIN([money_withdrawn_reason]) AS [money_withdrawn_reason],MIN([money_withdrawn_location]) AS [money_withdrawn_location],MIN([Suspicious Activity]+0) AS [Suspicious Activity],MIN([No.of Transactions]) AS [No.of Transactions],MIN([money_withdrawn_date]) AS [money_withdrawn_date],MIN([money_withdrawn_date_only]) AS [money_withdrawn_date_only],MIN([amount_transferred]) AS [amount_transferred],MIN([sender_id]) AS [sender_id],MIN([receiver_id]) AS [receiver_id],MIN([Time_only]) AS [Time_only] FROM output3 GROUP BY first_name,last_name,money_withdrawn_date_only

Line1: select * from output3 where (([Time_only]>'01:00:01' and [Time_only]<'04:00:59')) or ([state]!=[money_withdrawn_location]) or (([money_withdrawn_amount])>=([salary]/2))

Line2: SELECT [first_name],[last_name],[social security number] FROM [kk].[dbo].[output3] WHERE [Total amount transferred]>=([salary])

In [32]:
List[1]

'SELECT [first_name],[last_name],[social security number] FROM [kk].[dbo].[output3] WHERE ([money_withdrawn_amount])>=([salary]/2)'

# Function SQL

In [10]:
df2=pd.DataFrame()

In [33]:
def runsql(x):
    global data,df2
    conx = pyodbc.connect('DRIVER={SQL Server}; SERVER=DESKTOP-V8F09K2\KRISHNASQL; Database=kk; UID=sa; PWD=pokemon;')
    query=x
    cursor = conx.cursor();
    cursor.execute(query);
    data = cursor.fetchall()
    q = pd.read_sql_query(query,conx)
    df2 = pd.DataFrame(q, columns=['first_name','last_name','social security number'])
    conx.close()

In [12]:
for i in range(len(List)):
    runsql(List[i])
    print(df2.head())

  first_name last_name social security number
0     Bailie    Keppel            667-83-6790
1      Rayna   Josephs            248-61-5179
2       Cull    Tabour            205-43-7993
3     Noelle  Sterrick            294-48-6337
4     Maximo  Switland            171-39-7066
  first_name  last_name  social security number
0    Barrett        NaN                     NaN
1     Correy        NaN                     NaN
2      Robbi        NaN                     NaN
3      Welby        NaN                     NaN
4     Bailie        NaN                     NaN

In [191]:
df2

     first_name          last_name social security number
0        Bailie             Keppel            667-83-6790
1         Rayna            Josephs            248-61-5179
2          Cull             Tabour            205-43-7993
3        Noelle           Sterrick            294-48-6337
4        Maximo           Switland            171-39-7066
5        Anselm             Tonner            255-31-6815
6       Vaughan           Bowditch            120-37-7977
7        Nettle        Sciacovelli            604-05-4954
8        Yasmin             Morten            593-58-1275
9         Byrom              Polly            246-37-2145
10         Josi           Helstrip            187-44-4574
11      Raleigh             Wakley            284-42-5513
12        Louis          Wynrahame            850-70-7580
13       Harold            Warlawe            131-53-1300
14      Brandon           Cheetham            675-75-3385
15         Jody           Gallager            343-53-5415
16      Raynell            Yendall            554-75-9854
17         Noah            Burrows            728-37-5346
18        Tanny             Seeler            324-98-4373
19     Odelinda           Wadforth            378-27-8043
20         Calv               Enos            229-38-0946
21      Jemimah           Hanburry            630-52-8107
22       Janine            Tiernan            195-93-7322
23       Warden            Searson            319-02-5426
24       Yancey           Seignior            826-92-3689
25   Bartholemy              Sayer            610-78-2934
26     La verne            Snoxill            887-37-5808
27         Hans             Staite            772-20-8626
28      Brandon            Steptoe            326-85-6031
29       Hailey             Tomasi            211-04-5913
..          ...                ...                    ...
309       Darcy            Erswell            736-89-9163
310        Jess             Blance            708-60-5616
311    Bernelle            Witling            374-19-4189
312      Laurie              Dobel            867-53-9459
313      Kelsey          Otteridge            384-07-7629
314       Barny              Goose            709-35-6536
315       Faber            Antonov            393-79-7094
316     Correna          Dunbobbin            311-90-7225
317         Ina            Rickell            805-96-3153
318       Genia          Haglinton            885-93-3614
319       Casar             Haibel            877-88-5461
320     Aloisia            Pancast            152-69-8463
321     Cherice  Golden of Ireland            705-49-5043
322      Delmer             Gambie            160-93-8788
323        Marc           Charsley            876-41-5434
324        Dodi         O'Hengerty            760-62-3807
325      Granny           Abramcik            139-61-7156
326        Gare             Brower            508-17-7357
327     Seymour         Vasyukhnov            747-97-6194
328       Rania           Gristock            402-36-0761
329     Viviana              Addey            454-58-3040
330       Jacob            Paumier            384-87-7299
331    Mortimer            Lanfare            385-03-1480
332     Rozalin           Espinola            473-29-9864
333       Twyla          Leinthall            156-41-5995
334         Bax           Checkley            288-06-7434
335      Shadow              Stife            886-60-7236
336      Angela              Aiken            860-32-7461
337      Verena          Grimsdyke            736-91-4901
338    Casandra                Old            773-97-5135

[339 rows x 3 columns]

In [49]:
runsql(List[1])
df2

    first_name   last_name social security number
0      Barrett      Dybell            655-91-9407
1       Correy     Antunez            591-95-0381
2        Robbi      Amsden            539-05-0912
3        Welby     Zanazzi            151-75-0158
4       Bailie      Keppel            667-83-6790
..         ...         ...                    ...
953     Nickey     Danford            553-71-3819
954   Casandra         Old            773-97-5135
955      Kerby  Mablestone            737-52-7165
956      Griff       Thame            701-54-2759
957     Rainer     Durante            847-83-4580

[958 rows x 3 columns]